<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Flask + Vue</title>
  </head>

  <body>
    <div id="app" v-cloak>
      <h2>Hello, ${ user }</h2>
      <input v-model.lazy.trim="siteName" type="text">
      <button type="button" @click="addSite">Add</button>
      <ul>
        <li v-for="site in sites" :key="site.id">
          <span>${ site.id }: </span>
          <span>${ site.name }</span>
        </li>
      </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          siteName: '',
          user: '{{ g.user }}',
          sites: {{ sites|tojson }}
        },
        delimiters: ['${', '}'],
        methods: {
          async addSite () {
            var res = await axios.post('/api/sites', {name: this.name})
            this.sites.push(res.data)
            this.siteName= ''
          }
        }
      })
    </script>
  </body>
</html>
